// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.big {
    font-size: 2.5em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-bottom-large {
    margin-bottom: 3em
}

.green {
    color: rgb(8, 205, 8);
}
